
.main{
	width: 800px;
	height: 800px;
	/*border:2px solid red;*/
	margin:0px 270px;
	box-sizing: border-box;
}
h4{
	color:red;
	padding-bottom: 30px;
}
img{
	width:800px;
	height: 400px;
	overflow: hidden;
	box-sizing: border-box;
	padding: 0px;
	margin:0px;
}
#img_text{
	width: 800px;
	height: 50px;
	background-color: red;
	padding: 10px 20px;
}
#change_of_texts{
	background-color:none;
	border:none;
	font-size: 23px;
	color:white;
	font-weight: 100;
}
#add_text, #add_image{
	width: 800px;
	height: 60px;
	background-color: none;
	font-size: 23px;
	color:black;
	padding: 10px 30px;
	margin: 10px 0px;
}
.add_text_button{
	float: right;
	width: 200px;
	height: 40px;
	margin: 7px 0px;
	padding: 5px 10px;
	font-size: 17px;
	background-color: red;
	color:white;
	border:none;
	text-transform: uppercase;
}

.col-md-12{
	margin: 0px;
	padding: 0px;
}
.button_list{
	display: inline-block;
	margin-top: 60px;
	margin-bottom: 60px;
}
.effect{
	width: 197px;
	height: 40px;
	padding: 5px 10px;
	font-size: 20px;
	color:white;
	border:none;
	background-color: red;
}